.card-hover:hover{
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.link-css:hover {
    background-color: #007bff;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}